body
    font-family: 'Montserrat', sans-serif
    font-size: 15px
    margin: 0
    padding: 0
    color: #000

*
    box-sizing: border-box

h1 , h2 , h3 , h4 , h5 , h6
    margin: 0

.container
    width: 1200px
    margin: 0 auto
    padding: 0

.divider
    width: 70px
    height: 4px
    background: #f38181
    margin: 0 auto
    margin-top: 40px
    margin-bottom: 50px

.descr
    color: #999999
    font-family: 'Roboto', sans-serif
    text-align: center
    margin: 0 auto
    margin-bottom: 90px
    width: 950px

.phone
    margin-top: 120px
    background: url('../img/group2.png') center center/cover no-repeat
    height: 100vh


@import 'blocks/_promo'
@import 'blocks/_title'
@import 'blocks/_about'
@import 'blocks/_services'
@import 'blocks/_devisec'
@import 'blocks/_wedo'